@charset "UTF-8";

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;


}

menu {
    display: none;
}

article::after {
    content: " - Página impressa em " attr(data-print-date);
    font-size: 0.8em;
    color: gray;
}   